body {
  padding: 0px;
  margin: 0px;


}

header {
  background-color: #ac0000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 10px;

}



div>input {
  outline: none;
  border-width: 0px;
}


.z7:focus-within {
  border-color: #ac0000;
  box-shadow: 0px 0px 4px #ac0000;
  color: #ac0000;

}

main {
  border: 1px solid #000000;
  text-align: center;
  margin: 0px 40%;
  border-radius: 10px;
  margin-top: 9rem;
}

.z1 {
  color: #ffffffff;
  background-color: #ac0000;
  font-size: 1.2rem;
  padding: 0.5rem 3rem;
  border-top: 0px solid #000000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;


}

.z2 {
  display: flex;
  justify-content: space-around;
}



.z4 {
  padding-bottom: 20px;
}

.z5 {
  background-color: #ac0000;
  color: #ffffff;
  border: 0px solid #000000;
  border-radius: 10px;
  padding: 10px 20px;
}

.z6 {
  background-color: #000000;
  height: 1px;
  width: 100%;
  margin-bottom: 10px;

}

.z7 {
  border: 1px solid #000000;

  border-radius: 2px;
  padding: 5px 20px;
  margin: 10px 30px;
  width: 150px;
}

footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  background-color: #ac0000;
  padding: 10px;
  color: #ffffff;
  width: 98%;
}